* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url(images/bg3.jpg);
}
article {
  background-color: #f7f5f2;
  padding: 60px;
  margin: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #1b263b;
}
.header a:link {
  text-decoration: none;
  color: #fff;
  cursor: default;
  font-size: 24px;
}
.name {
  display: inline;
  color: gray;
}
img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

aside ul li {
  list-style: none;
  background-color: #f8f9fa;
  width: 150px;
  margin-right: 300px;
}
a:link {
  text-decoration: none;
  display: block;
  margin: 20px;
}
a:hover {
  color: black;
}
.aside-menu {
  display: flex;
}
.logout {
  cursor: pointer;
  color: rgb(233, 22, 22);
  margin-top: 40px;
}
.dashbtn {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.btn {
  color: white;
  font-size: 40px;
  background-color: rgb(145, 162, 173);
  width: 300px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgb(187, 185, 185);
}
i {
  margin-right: 12px;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-left: 320px;
}
table {
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-top: 40px;
}
tr {
  padding: 15px;
}
th,
td {
  padding: 10px 20px;
}
.view {
  color: blue;
  border: none;
  cursor: pointer;
}
.delete {
  color: rgb(247, 6, 6);
  cursor: pointer;
  border: none;
}
