*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(images/bg.jpg); */
    background-image: url(images/bg3.jpg);
    margin: auto;
    padding: auto;
    font-family: sans-serif;
    width: 1000px;
}
.header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #241F1F;
    
    padding: 3rem;

   
}
.logo{
    font-size: 1.2rem;
    color: #429C7C;
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
    cursor: default;
    margin-right: 243.3px;
}
.navigation a{
    font-size: 1rem;
    text-decoration: none;
    color: rgb(245, 235, 235);
    margin-right: 1.2rem;
    font-family: sans-serif;
}
.navigation a:hover{
    color: #429C7C;
    transition: .3s;
}
.navigation a:active{
    color: #429C7C;
}

.navbtn{
    display: flex;
}
.login{
    color: #fff;
    background-color: #429C7C;
    padding: 4px 16px;
    margin-left: 3rem;
    font-size: 1.2rem;
    border: 0.1px solid #fff;
    border-radius: 6px;cursor: pointer;
}
.home-page{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #333533;
    padding-top: 60px;
    padding-bottom: 100px;
    margin-top: 120px;
    
}

.home-content{
    font-size: 24px;
    color: #fff;
    width: 400px;

    
   
}
#name{
    padding-top: 40px;

   
}
span{
    color: #429C7C;
}
.my-photo img{
    width: 300px;
    margin-top: 0px;
}
.hire-btn{
    padding: 6px 14px;
    margin-left: 60px;
    margin-top: 20px;
    color: #fff;
    background-color:#429C7C;
    border:none;
    border-radius: 4px;
    font-size: 1rem;
}
.about-page{
    color: #fff;
    margin-top: 60px;
}
.about,.stack{
    text-align: center;
    
   
}
.about{
    margin-top: 40px;
    margin-bottom: 20px;
}
.stack{
    margin-bottom: 20px;
}
.html,.css,.javascript{
    text-align: center;
    width: 300px;
    
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;

}
.paragraph{
    margin-right: 40px;
    font-size: 16px;
    margin-top: 20px;
    line-height: 30px;
}

.background{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.education{
background-color: #f0e6ef;
color: rgb(8, 8, 8);
width: 300px;
padding: 20px;
line-height: 25px;

}
.experience{
    background-color: #bcb8b1;
    width: 300px;
    padding: 20px;
    color: rgb(8,8,8);
    line-height: 25px;
}
.service{
    background-color: #242423;
    margin-top: 40px;
    color: #fff;
    padding-bottom: 40px;
}

.service h1{
    text-align: center;
    padding-top: 40px;
    
}
.service-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    
   
   
}
.software-dev{
    background-color: #fff;
    color: #000;
    line-height: 30px;
    width: 300px;
    box-shadow:3px 3px 3px rgb(247, 245, 245);
    text-align: center;
    
}
.mobile-app{
    
        background-color: #fff;
        color: #000;
        line-height: 30px;
        width: 300px;
        box-shadow:3px 3px 3px rgb(247, 245, 245);
        text-align: center;
        
    }
.graphic-design{
        background-color: #fff;
        color: #000;
        line-height: 30px;
        width: 300px;
        box-shadow:3px 3px 3px rgb(247, 245, 245);
        text-align: center;
    
}
i{
    background-color: #429C7C;
    color: #fff;
    font-size: 2rem;
   margin-top: 20px;
   border-radius: 50%;
}
.read{
    color: #fff;
    background-color: #429C7C;
    padding: 6px 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.portfolio-page{
    background-color: #353535;
    padding-bottom: 60px;
}
.portfolio-page h1{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
    color: #fff;

}
.portfolio-page li,h2{
margin-left: 400px;
color: #fff;

}
.portfolio-page li{
    letter-spacing: 1.5px;
}
.portfolio-page h2{
    margin-bottom: 10px;
}
.portfolio-page h3{
    line-height: 30px;
}
.portfolio-page img{
    width: 400px;
    height: 300px;
    margin-top: 40px;
    padding-left: 40px;
}
.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.portfolio-page p{
    width: 400px;
    padding-left: 40px;
    color: #fff;
    line-height: 25px;
    margin-top: 20px;
}
